@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Employee";
    ViewData["Slug1"] = "QUẢN LÝ NHÂN VIÊN";
    ViewData["Slug2"] = "Quản lý nhân viên";

    List<Image> listImg = new List<Image>();

    if (ViewBag.listImg != null)
    {
        listImg = ViewBag.listImg;
    }
}
}
@model List<Employee>

<style>
    td {
        text-align: center;
    }
</style>
<div class="table-responsive" id="employee">
    <table class="table" style="margin-top: 20px; background-color: white;">
        <tr>
            <td colspan="7">
            </td>
            <td>
                <a asp-controller="employee" asp-action="insert" class="btn btn-primary">Tạo mới</a>
            </td>
        </tr>
        <tr style="background-color: #b4dca4;">
            <td><strong>Mã nhân viên</strong></td>
            <td><strong>Tên nhân viên</strong></td>
            <td><strong>Avatar</strong></td>
            <td><strong>Vị trí</strong></td>
            <td><strong>Số điện thoại</strong></td>
            <td><strong>Email</strong></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            Image img = Image.SelectOne(item.id_img);
            <tr>
                <td>@item.id_emp</td>
                <td>@item.name_emp</td>
                <td><img src="@img.link" style="width:100px; height:100px" /></td>
                <td>@item.position</td>
                <td>@item.phone</td>
                <td>@item.email</td>
                <td>
                    <a class="btn btn-warning" asp-controller="employee" asp-action="update" asp-route-id="@item.id_emp">Sửa</a>
                </td>
                <td>
                    <a class="delete btn btn-danger" data-id="@item.id_emp">Xóa</a>
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                Swal.fire({
                    title: 'Bạn có chắc muốn xóa không?',
                    showDenyButton: true,
                    confirmButtonText: 'Save',
                    denyButtonText: `Don't save`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/Employee/Delete",
                            data: {
                                id: $(this).data("id"),
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Xóa nhân viên thành công',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                                $("#employee").load(location.href + " #employee>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Xóa danh mục thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire('Thao tác không được lưu lại', '', 'info')
                    }
                })
            });
        });
    </script>
}


