@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
    ViewData["Slug1"] = "QUẢN LÝ DANH MỤC";
    ViewData["Slug2"] = "Quản lý danh mục";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.currentPage;
    }
    List<Category> listcat = Category.FindParent();
}
<style>
    td {
        text-align: center;
    }
</style>
@model List<Category>
<div class="table-responsive" id="category">
    <table class="table" style="margin-top: 20px; background-color:white; ">
        <tr>
            <td colspan="2">
                <form method="get" asp-controller="category" asp-action="search">
                    <div class="input-group">
                        <select class="form-control" id="id_parent" name="search" style="width:80%;">
                            <option value="0">Vui lòng chọn</option>
                            @foreach (var item in listcat)
                            {
                                if (item.id_cat == ViewBag.search)
                                {
                                    <option value="@item.id_cat" selected="selected">@item.name_cat</option>
                                }
                                else
                                {
                                    <option value="@item.id_cat">@item.name_cat</option>
                                }
                            }
                        </select>
                        <button type="submit" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </td>

            <td>
                <a asp-controller="category" asp-action="insert" class="btn btn-primary">Tạo mới</a>
            </td>
        </tr>
        <tr style="background-color: #b4dca4; ">
            <td><strong>Tên danh mục</strong></td>
            <td><strong>Mã danh mục phân cấp</strong></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            Category cat = Category.FindCatByID(item.id_parent);
            <tr>
                <td>@item.name_cat</td>
                <td>@cat.name_cat</td>
                <td>
                    <a class="btn btn-warning" asp-controller="category" asp-action="update" asp-route-id="@item.id_cat">Cập nhật</a>
                </td>
            </tr>
        }
    </table>
</div>
<nav aria-label="Page navigation example" style="float: right;">
    <ul class="pagination justify-content-center">
        @for (var pge = pager.startPage; pge <= pager.endPage; pge++)
        {
            <li class="page-item @(pge==pager.currentPage ? "active" : "")">
                <a class="page-link" asp-controller="category" asp-action="search" asp-route-pg="@pge" asp-route-search="@ViewBag.search">@pge</a>
            </li>
        }
    </ul>
</nav>