@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UpdateCategory";
    ViewData["Slug1"] = "QUẢN LÝ DANH MỤC";
    ViewData["Slug2"] = "Quản lý danh mục";

    Category cat = new Category();
    if (ViewBag.Cat != null)
    {
        cat = ViewBag.Cat;
    }
}
@model List<Category>
    <h3 style="text-align: center; margin-bottom: 10px; margin-top: 20px;">Cập Nhật Danh Mục</h3>
    <form action="/Category/UpdateCat" method="post">
        <div class="form-group">
            <label>Mã danh mục:</label>
            <input type="text" class="form-control" id="id_cat" name="id_cat" value="@cat.id_cat" readonly>
        </div>
        <div class="form-group">
            <label>Tên danh mục:</label>
            <input type="text" class="form-control" id="name_cat" name="name_cat" value="@cat.name_cat" required>
        </div>
        <div class="form-group">
            <label>Mã danh mục cha:</label>
            <select class="form-control" id="id_parent" name="id_parent">
                <option value="0">0-Danh mục cha</option>
                @foreach (var item in Model)
                {
                if (item.id_cat == cat.id_parent)
                {
                <option value="@item.id_cat" selected="selected">@item.id_cat-@item.name_cat</option>
                }
                else
                {
                <option value="@item.id_cat">@item.id_cat-@item.name_cat</option>
                }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-success" id="submit" value="Thêm">Submit</button>
        <a asp-action="Index" style="float:right;">Quay lại</a>
    </form>
    <div>

    </div>
